table.table.table-sm {
    zoom:75%;

}

.navbar-nav {
    padding-left: 10em;
}

nav.navbar {
    margin-bottom: 4em;
}

.col-4 {
    margin-top: -2em;
}

.col-1 {
    margin-top: -1.5em;
}

.row.justify-content-start{
    margin-bottom:2em;
}

.jumbotron {
    zoom:70%;
}  

.vertical-scrollable > .row {
    position: relative;
    height: 50em;
    width:80%;
    margin-left: 10%;
    overflow-y: scroll; 
  }
.col-sm-12 { 
      font-size:13px;
      padding-bottom: 20px; 
      padding-top: 18px; 
      transform: scale(0.85);
  } 
  
  .smaller {
      height:40em;
      width:40em;
      padding:0.5em;
      margin-top:-3em;

  } 

  .col-md-8{
    margin-top:1em;
  }

 #myChart{
     margin-bottom:1em;
 }
  /*
  .col-sm-12:nth-child(2n+1) { 
      background: green; 
  } 
    
  .col-sm-12:nth-child(2n+2) { 
      background: black; 
  } 
  */
  